//color variables

$shops-blue: #336fca;
$shops-white: white;
$shops-white-transparent: rgba(255, 255, 255, 0.14);
$shops-black: black;

//functions

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}
